// 1. Colors
// ==========================================================================

$primary-color:#ef6c00;
$primary-color-lite: #ffe0b2;


$button-color:  $primary-color;
$button-hover-color: $primary-color-lite;
$button-disable-color: #bdbdbd ;

$menu-list-background-color: white;
$menu-list-hover-background-color: $primary-color-lite;
$menu-list-color: $primary-color;
$menu-list-hover-color:$primary-color-lite;

$modal-close-background-color: $primary-color;
$modal-close-color: white;
$modal-close-hover-background-color: $primary-color-lite;
$modal-close-hover-color:$primary-color;



/* マウスオンする要素とツールチップを横並びにする */
.app-tooltip {
  display: inline-block;
  position: relative;
}

/* ツールチップ共通の設定 */
.app-tooltip::before,
.app-tooltip::after {
  -webkit-transition: all 0.2s;
  opacity: 0;
  position: absolute;
  transition: all 0.2s;
  visibility: hidden;
  z-index: 11;
}


/* ツールチップ吹き出しの本体 */
.app-tooltip::after {
  -webkit-transform: translateY(-50%);
  background: #5f6368;
  border-radius: 3px;
  color: #fff;
  content: attr(data-tooltip); /* ここでdata-tooltipの内容を呼び出しているよ */
  display: block;
  font-size: 11px;
  font-weight: 600;
  left: 50%;
  padding: 5px 10px;
  top: calc(-100% - 5px);
  transform: translateX(-50%);
  white-space: nowrap;
}

/* マウスオンしたときのカーソルの設定 */
.app-tooltip:hover {
  cursor: pointer;
}

.app-tooltip:hover::before {
  opacity: 1;
  visibility: visible;
}

.app-tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}

